@media only screen and (max-width:550px){
body{
    overflow-x: hidden;
}

    #brand{
        margin-left: 15px;
    }

    #bag, #login{
        display: none;
    }
    #container{
        justify-content: center;
        align-items: center;
    }

    #picture img{
        position: absolute;
        z-index: -1;
        left: 15px;
        width: 450px;
    }
    #navigation{
        position: absolute;
        width: 100%;
        top: 65px;
        height: calc(100vh - 65px);
        background-color: #6066f2;
        left:-100%;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
    #navigation ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }

    #navigation ul >li{
        padding: 20px;
    }

    #navigation >ul >li >a{
        color: #d7ddcc;
        border: none;
        font-size: 25px;
    }

    #navigation.active{
        left: 0;
    }
    .menu-toggle img{
        display: block;
    }

    .item-menu a, .item-menu-login a{
        
        visibility: visible;
        
    }
    .item-menu-login a{
    background-color: #f4891f;
    border-radius: 23px;

    }
    .item-menu a{
        background-color: royalblue;
        border-radius: 23px;
    }   

    #footer{
        padding-top: 150px;
        
    }

    .body-modal{
        width: 350px;
    }

}